<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/" target="_blank" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:title" content="oddd.io"/>
  <meta property="og:url" content="https://oddd.io"/>
  <meta property="og:image" content="oddd.png"/>
  <meta property="og:site_name" content="oddd.io"/>
  <meta property="og:description" content="cools"/>
  <title>oddd.io</title>
  <link rel="icon" type="image/png" href="oddd.png" />
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Raleway:400,700|Open+Sans:400,800|Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
